<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs2020.capstone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="냉장고를 부탁해"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SelectedCategoryActivity"></activity>
        <activity android:name=".CustomScannerActivity" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".su_CategoryActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".ModActivity" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            />

        <service
            android:name=".AlarmService"
            android:enabled="true"
            />
    </application>

</manifest>